:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #cfcfcf;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 20px;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#nav-menu {
  display: flex;
  column-gap: 20px;
  margin-bottom: 30px;

  .nav-home-page.active ~ .current-about-page {
    display: none;
  }

  .nav-about-page.active ~ .current-home-page {
    display: none;
  }
}

#nav-menu a:hover {
  color: brown;
}

#nav-menu a.active {
  color: brown;
}

#search-form {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  input {
    box-sizing: border-box;
    width: 400px;
    border: none;
    font-size: 22px;
    line-height: 28px;
    padding: 15px 20px 15px 55px;
    background: #e0dddd;
    box-shadow: inset 1px 1px 5px 0 #616363;
    border-radius: 30px;
  }

  input:focus {
    outline: none;
    box-shadow: inset 1px 1px 5px 0 #f7f8f8;
  }

  button {
    height: 36px;
    width: 36px;
    position: absolute;
    border: none;
    background: none;
    left: 35px;
    cursor: pointer;
  }

  button:before {
    content: url('/src/assets/search-icon.svg');
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  margin: 15px;

  .item {
    width: 265px;
    background: #000000;
    padding: 10px;
    box-shadow: white 0px 0px 6px 3px;

    img {
      float: left;
      margin: 6px 10px 10px 0;
    }
  }
}

.footer-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 20px;
  width: calc(100vw - 40px);
  padding: 0;

  .footer-item {
    display: flex;
    align-items: center;

    img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(3303%) hue-rotate(70deg)
        brightness(94%) contrast(74%);
    }
  }

  a:hover {
    color: brown;
  }
}
